<%- layout("/layout/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h1 class="text-center">LogIn</h1>
        <hr>
        <br>
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <!-- // username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
            name="username"
            class="form-control"
            required
            ></input>
        <div class="invalid-feedback">Username must not be empty!</div>
        
        </div>
            <!-- //Password -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
            name="password"
            class="form-control"
            type="password"
            required
            ></input>
        <div class="invalid-feedback">Password must not be empty!</div>
        <p>Don't have an account?<a class="text-red" href="/signup">SignUp</a></p>
        </div>  
        <button type="submit" class="btn btn-success">LogIn</button>
        </form>
    </div>
</div>